body {
  margin: 0;
  text-align: center;
font-family: 'Merriweather', serif;
color:  #40514E;
text-decoration: none;


}
a {
  color: #11999E;
}
.web {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;

}
p {
  line-height: 2;
}
hr {
border: dotted grey 6px;
border-bottom: none;
width: 4%;
margin: 100px auto 100px auto;
}
.act {
  border-radius: 100%;
  background-color: pink;
  width: 25%;
  float: right;
  margin-left: 30px;

}
.sub {

  font-weight: normal;
}



h1 {

  font-size: 5.625rem;
color: #66BFBF;
margin: 50 auto 0 auto;
font-family: 'Sacramento', cursive;
}
h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}
.cl {
  margin: 100px auto 0 auto;
}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
.profile {
  width: 30%;
  margin: 100px auto 100px auto;
}

.up {
  background-color: #EAF6F6;
  position: relative;

}

.bottom-cloud {
  position: absolute;

}
.top-cloud {
  position: relative;
  left: 150px;
  margin-top: 20px
}
.skill-row {

  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.if {
  line-height: 2;
}
.yo {
  width: 50%;
  margin: auto;
  margin-bottom: 100px;
}
.btn {
  background: #11ccd4;
  background-image: -webkit-linear-gradient(top, #11ccd4, #119993);
  background-image: -moz-linear-gradient(top, #11ccd4, #119993);
  background-image: -ms-linear-gradient(top, #11ccd4, #119993);
  background-image: -o-linear-gradient(top, #11ccd4, #119993);
  background-image: linear-gradient(to bottom, #11ccd4, #119993);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


.bottom-container {
  background-color: #66BFBF;
padding: 50px 0 20px 0;
margin-top: 100px;
text-decoration: none;

position: relative;
line-height: 2;
}
a {
  text-decoration: none;

  margin: 20px 10px 20px 10px;
  font-family: 'Montserrat', sans-serif;

}
a:hover {
  color: yellow;
}
.hmm {
  color: white;
}
